img {
  border-radius: 20%;
}

/*html {
  background-image: pkk.jpg;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}
